
.Form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 4rem;
}

label{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 20vw;
    height: 50px;
    font-size: 1.5rem;
    margin-bottom: 50px;
    border: black solid 2px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);


}
textarea{
    width: 20vw;
    height: 150px;
    font-size: 1.5rem;
    margin-bottom: 50px;
    border: black solid 2px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}