@import "formStyle.css";
@import "notes.css";
body{
    margin: 0;
    padding: 0;
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}