.Notes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.note_block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    border: black solid 2px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
    width: 1fr;
    height: auto;
    padding: 20px;
    margin: 30px;
}